<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PRJ321x_Project_3_chungvtfx17970</display-name>
  <welcome-file-list>
    <welcome-file>ListController</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>LoginServlet</servlet-name>	  
	  <servlet-class>controller.LoginServlet</servlet-class>  	  
  </servlet>
  <servlet>
	  <servlet-name>LogoutController</servlet-name>	  
	  <servlet-class>controller.LogoutController</servlet-class>  	  
  </servlet>
  <servlet>
	  <servlet-name>SearchController</servlet-name>	  
	  <servlet-class>controller.product.SearchController</servlet-class>  	  
  </servlet>
  
  <servlet>
	  <servlet-name>ListController</servlet-name>	  
	  <servlet-class>controller.product.ListController</servlet-class>  	  
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>ListController</servlet-name>	  
	  <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
	  <param-name>username</param-name>
	  <param-value>duongdt@fpt.com.vn</param-value>  
  </context-param>
  
  <context-param>
	  <param-name>password</param-name>
	  <param-value>123</param-value>  
  </context-param>
  
  <servlet-mapping>
	  <servlet-name>LoginServlet</servlet-name>	  
	  <url-pattern>/login</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
	  <servlet-name>LogoutController</servlet-name>	  
	  <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	  <servlet-name>SearchController</servlet-name>	  
	  <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>5000</session-timeout>
  </session-config>

</web-app>